.contact {
    height: 810px;
    position: relative;
}

.contactForm {
position: absolute;
top: 200px;
left:400px;
/* display: grid;
justify-content: center;
grid-template-columns: auto;
grid-template-rows: 150px 150px 150px 150px; */
}

/* .input {
    margin-bottom: 2px;
    padding-bottom: 2px;
} */

.p-inputtext {
    margin-bottom: 15px !important;
}

.p-button {
    margin-top: 20px !important;
}